body {
    font-family: 'Roboto Condensed', sans-serif;
    max-width: 1300px;
}

nav {
    background-color: #f72210;
}

#subscribe-btn {
    background-color: #ffe400;
    border-radius: 12px;
}

.btn {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.fa-bars {
    font-size: 28px;
}

header {
    background-color: #f72210;
}

#navbar {
    color: #fff;
}

#nav-top a {
    color: #fff;
}

#nav-bottom a {
    color: black;
}

#navbar a:hover {
    text-decoration: none;
}

#nav-middle svg {
    fill: #fff;
    height: 60px;
}

#blank {
    width: 100%;
    height: 40%;
}

#trial-btn {
    background-color: #ffe400;
    border-radius: 26px;
}

#id-btn {
    color: #fff;
}

#nav-right {
    font-size: 12px;
}

#bars-btn, #user-btn {
    color: rgb(255, 255, 255);
    opacity: 0.5;
}

#nav-bottom {
    background: #fff;
    position: relative;
    height: 55px;
}

#nav-bottom-right {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#nav-bottom a:hover {
    color: #f72210;
}

#nav-list li {
    font-size: 19px;
    list-style: none;
}

#red-ting {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 66px;
    background-color: #f72210;
    border-left: 12px solid white;
    border-top: 13px solid #f72210;
}

#search-container {
    width: 100%;
}

#search-container input {
    font-weight: 100;
    font-size: 20px;
    border: none;
    width: 110px;
    height: 25px;
    padding: 10px;
    background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) no-repeat;
    background-size: 20px;
    background-position: right center;
}

#nav-extra {
    border-top: 1.5px solid	#F0F0F0;
}

#main {
    border-top: 2px solid #F0F0F0;
}

#article-title {
    color: rgba(3,3,3,.4);
}

#article-image {
    position: relative;
}

#article-stamp {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    font: bold 17px/16px "Roboto Condensed",sans-serif;
    padding: 8px 15px 9px;
    background-color: rgba(255,255,255,.9);
    z-index: 1;
}

#article-stamp a {
    color: #f72210;
}

#article-stamp a:hover {
    text-decoration: none;
}

h3 {
    font-size: 24px;
    line-height: 24px;
}

a {
    color: inherit;
}

.article a:hover {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: red;
}

.summary {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 15px;
}

#sponsor-image {
    position: relative;
}

#sponsor-stamp {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    font: bold 17px/16px "Roboto Condensed",sans-serif;
    padding: 8px 15px 9px;
    background-color: rgba(255,255,255,.9);
    z-index: 1;
}

#sponsor-stamp a {
    color: #3581f4;
}

#sponsor-stamp a:hover {
    text-decoration: none;
}

#sponsor-info {
    border: 1px solid #e6e6e6;
}

.sponsor a:hover {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: red;
}

.pl-10 {
    padding-left: 10px!important;
}

.pr-10 {
    padding-right: 10px !important;
}

.culture-item .info a {
    color: rgba(3,3,3,.4);
}

.culture-item .info a:hover {
    text-decoration: none;
}

.culture-item-top {
    position: relative;
}

.culture-stamp {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    font: bold 13px/20px "Roboto Condensed",sans-serif;
    padding: 8px 15px 9px;
    z-index: 1;
    background-color: #c2d4d7;
}

.more-stories a:hover {
    text-decoration: none;
    color: rgba(3,3,3,.4);
}

.more-stories img {
    width: 100%;
}

.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.image a {
    display: block;
}

#clearfix-image {
    float: left;
    width: 95px;
    margin-right: 15px;
}

.clearfix h4 {
    font-size: 17px;
    line-height: 20px;
}

.clearfix a:hover {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: red;
}

#more-article {
    border-top: 1px solid #ddd;
}

.the-debate {
    margin-bottom: 30px;
}

.debate-item a:hover {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: red;
}

.debate-item .headshot img {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    margin-right: 15px;
}

.debate-item .byline {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    margin-top: 4px;
}

.debate-item {
    margin-top: 5px solid #ddd;
}

.bar {
    height: 4px;
    width: 100%;
    background-color: #ddd;
}

.block-title a:hover {
    color: inherit;
    text-decoration: none;
}

.the-debate .c-vs {
    position: relative;
    z-index: 1;
    width: 32px;
    height: 32px;
    background-color: #000;
    color: #d6d6d6;
    border-radius: 50%;
    font: bold 14px/32px "Roboto Condensed",sans-serif;
    text-align: center;
    margin: 6px auto;
}

.the-debate .deco {
    position: relative;
}

.the-debate .deco::before {
    top: calc(50% - 2px);
}

.the-debate .deco::after, .the-debate .deco::before {
    content: "";
    display: block;
    background-color: #d9d9d9;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
}

.the-debate .deco::after {
    top: 50%;
}

.debate-item .headshot-2 img {
    border-radius: 50%;
    width: 63px;
    height: 63px;
}

.pb-12 {
    padding-bottom: 12px;
}

.pt-10 {
    padding-top: 10px;
}

.opinion li:first-child {
    padding-top: 0px;
    border-top: none;
}

.opinion li {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
}

.opinion .image {
    margin-right: 15px;
}

.opinion .byline {
    font-size: 14px;
    line-height: 21px;
    color: #555;
    text-transform: uppercase;
    margin-top: 4px;
}

.info a {
    line-height: 80%!important;
}

.opinion a:hover {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: red;
}

.newsletter-signup {
    max-width: 300px;
    padding: 20px;
    border: 1px solid #e5e5e5;
    background-color: #f4f5f6;
    margin: 0 auto 30px;
}

.newsletter-signup .n-icon {
    flex: none;
    display: block;
    width: 29px;
    height: 28px;
        background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
    margin-right: 10px;
}

.ai-c {
    align-items: center;
}

.n-title {
    line-height: 1!important;
    font: bold 18px/18px "Roboto Condensed",sans-serif;
    margin-bottom: 15px;
}

.newsletter-signup .free-signup input {
    width: 100%;
    height: 32px;
    line-height: 32px;
}

.free-signup {
    margin-top: 15px;
}

.free-signup .form-text {
    color: #555;
    font-size: 14px;
    font-family: "Helvetica",sans-serf;
    background-color: white;
    border: 1px solid #e0e1e1;
    text-indent: 9px;
}

.free-signup .form-submit {
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 0;
    font-family: "Roboto Condensed",sans-serif;
    background: url(https://g.newsweek.com/www/images/free-sign-up.svg) center/108px no-repeat #f61602;
    border-radius: 3px;
    margin-top: 8px;
}

.page-bottom .n-icon {
    flex: none;
    display: block;
    width: 29px;
    height: 28px;
    background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain no-repeat #f72210;
    margin-right: 10px;
}

.jc-c {
    justify-content: center;
}

.page-bottom {
    padding-right: 30px;
    padding-left: 30px;
}

.page-bottom-banner {
    padding-top: 10px!important;
    padding-bottom: 8px!important;
    border-bottom: 1px solid #d9d9d9;
}

.ai-fe {
    align-items: flex-end;
}

.page-bottom .wrap {
    position: relative;
}

.page-bottom .wrap .category {
    display: block;
    font: bold 16px/33px "Roboto Condensed",sans-serif;
    color: #f72210;
    text-transform: uppercase;
    padding: 0 10px;
    background-color: rgba(255,255,255,.9);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.magazine-wrapper {
    padding-top: 15px;
}

.magazine-wrapper .wrap img {
    width: 100%;
}

.features-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f5f6;
    padding: 10px 10px 10px 12px;
    font: bold 18px/18px "Roboto Condensed",sans-serif;
    text-transform: uppercase;
    color: black;
    text-align: center;
    margin-bottom: 0;
}

.features-btn i {
    margin-left: 3px;
}

.features-btn:hover {
    text-decoration: none;
    color: black;
    background-color: #D3D3D3;
}

.magazine-wrapper img {
    width: 100%;
    height: 100%;
}

.magazine-wrapper .category {
    text-transform: uppercase;
}

.magazine-wrapper .mag-cat {
    padding: 0 7px;
    background-color: #f72210;
    color: white;
    margin-right: 7px;
}

.magazine-wrapper a:hover {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: red;
}

#img-1 {
    background-image: url(../img/kushner-img.webp);
    width: 100%;
    height: 60%;
}

.ai-c {
    align-items: center;
}

.ai-sb {
    align-items: space-between;
}

.magazine-wrapper img {
    width: 100%;
    height: 100%;
}

.subscribe-block .col-l {
    background-color: #f4f5f6;
    padding: 30px;
}

.subscribe-block .mag-thumb {
    width: 170px;
    height: 228px;
}

.fn {
    flex: none;
}

.mag-thumb.current {
    position: absolute;
    top: 13px;
    left: 80px;
}

.subscribe-block .col-l .image {
    position: relative;
    padding-bottom: 13px;
    padding-right: 90px;
}

.f1 {
    flex: 1;
}

.subscribe-block .col-l .info {
    padding-left: 30px;
}

.subscribe-block h3 {
    line-height: 28px;
    margin-bottom: 15px;
}

.subscribe-block p {
    font: 300 15px/21px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 20px;
}

.pelcro-subscribe-button {
    position: relative;
    font: bold 18px/18px "Roboto Condensed", sans-serif;
    cursor: pointer;
    background-color: #f72310;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 10px 10px 12px;
    border-radius: 3px;
}

.lazyloaded {
    background: url(../img/starting5-img.png) center center / cover no-repeat;;
}

.subscribe-block {
    padding-bottom: 40px;
    border-top: 1.5px solid #ebebeb;
    border-bottom: 1.5px solid #ebebeb;
}

.subscribe-block .col-r .image {
    width: 48%;
}

.subscribe-block .col-r .info {
    padding: 35px;
    border: 1px solid #ebebeb;
}

.subscribe-block .free-signup input {
    width: 100%;
    height: 32px;
    line-height: 32px;
}

.jc-sb {
    justify-content: space-between;
}

.page-footer {
    margin-right: 30px;
    margin-left: 30px;
}

.page-footer a img {
    width: 236px;
}

.page-footer .copyright {
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #666;
    margin-bottom: 12px;
}

ul.social {
    list-style: none;
}

ul.social li {
    padding-left: 10px;
    color: #666;
}


@media (min-width: 768px) {
    #user-btn {
        display: none;
    }
}

@media (max-width: 768px) {
    #nav-middle {
        width: 50%;
    }
    #nav-right {
        width: 50%;
    }
    #id-btn {
        display: none;
    }
    #bars-btn i, #user-btn i {
       font-size: 16px;
    }
    #trial-btn {
        font-size: 14px;
        height: 25px;
        width: 150px;
    }
    #main-right {
        display:
    }
}

@media (max-width: 992px) {
    #nav-bottom {
        display: none;
    }
    #navbar {
        padding-top: 0px !important;
    }
    #nav-left {
        display: none;
    }
    #nav-middle svg {
        height: 20px;
        margin-left: 10px;
    }
    #nav-middle {
        justify-content: left !important;
    }
    #nav-right .container {
        justify-content: right !important;
        padding-right: 0px !important;
    }
    #nav-top {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    #blank {
        display: none;
    }
    #nav-bottom-right {
        display: none;
    }
    #nav-bottom-left {
        display: none;
    }
    #red-ting {
        display: none;
    }
    #nav-extra-container {
        display: none;
    }
    #nav-extra {
        border-top: none;
    }
    #nav-bottom {
        height: 0px;
        padding: 0px !important;
    }
}